<nav class="navbar navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
       <a  class="navbar-brand" href="/">linkwire</a> 
    </div>
    <div class="collapse navbar-collapse pull-right">
      <a ng-hide="isLoggedIn()" href="/signup"><button type="button" class="btn btn-primary navbar-btn"> Sign Up </button></a>
      <a ng-hide="isLoggedIn()" href="/login"><button type="button" class="btn btn-primary navbar-btn"> Sign In </button></a>
      <button ng-show="isLoggedIn()" ng-click="logout()" type="button" class="btn btn-warning navbar-btn"> Logout </button></a>
    </div>
    <p ng-show="isLoggedIn()" class="navbar-text navbar-right">Welcome <a ng-href="/myboards/{{getCurrentUser()._id}}" class="navbar-link">{{ getCurrentUser().name }}</a></p>
  </div>
</nav>